<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Dear anh/chị ' + ${approvalName} + '!'"></p>
<p>Yêu cầu cấp hạn mức của anh/chị đã bị từ chối, chi tiết như sau:</p>
<p style="padding-left: 1em" th:text="'GDV: ' + ${collectorName}"></p>
<p style="padding-left: 1em"  th:text="'Số tiền: ' + ${amount}"></p>
<p style="padding-left: 1em" th:text="'Tổng hạn mức sau khi cấp: '+${total}"></p>
<p style="padding-left: 1em" th:text="'Lý do từ chối: '+${note}"></p>
<p>Anh/Chị có thể xem thông tin chi tiết tại <a th:href="${refLink} + '/approval-request/detail/' + ${requestLimitId}">Hệ thống</a>!</p>
<p>Cảm ơn anh/chị!</p>
</body>
</html>